@use "../../../styles/variables" as vars;

.chartContainer {
    width: 100%;
    padding: 20px;
    background-color: vars.$color-white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.chartTitle {
    font-size: vars.$font-size-lg;
    font-weight: vars.$font-weight-semibold;
    margin-bottom: 15px;
    color: vars.$color-text;
    text-align: center;
}